﻿@{
    Layout = "Layout";
}
<div class="PerfilContenedor">
    <a href="~/Home/MiPerfil">
        <div class="Foto">
            <img src="~/img/ole.jpg" alt="">
            <div class="toggle-container">
            </div>
        </div>
    </a>
</div>