@{
    Layout = "Layout";
}

<div class="PerfilContenedor">
    <a href="#">
        <div class="Foto">
            <img src="~/img/ole.jpg" alt="">
            <div class="Datos">
                <p>Rolando Antonio Fuentes Cuellar</p>
                <br>
                <p>Ingenieria en Sistemas Computacionales</p>
                <br>
                <p>Arquitectura Web</p>
                <br>
                <p>Programacion Web</p>
                <br>
                <p>201G0250</p>
            </div>
        </div>
    </a>
</div>